# compiled output
/dist
**/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore node_modules in api directory
/api/node_modules

#Ignore dist in api directory
/api/dist

# Ignore node_modules in website directory
/website/node_modules

#Ignore dist in website directory
/website/dist

.env

# Docker Volumes
/docker/vol
/docker/files
/docker/logs
/docker/server-configs
/docker/ssl

/docker_copy
/docker_copy/vol
/docker_copy/files
/docker_copy/logs
/docker_copy/server-configs
/docker_copy/ssl
node_modules

# Secrets
/api/src/python/conf/gmail_key.json
/api/src/python/conf/gmail_token.json

# Venv
/venv/